///////////// Custom colors
$blue_custom: #223843;
$white_custom: #EFF1F3;
$gray_custom: #DBD3D8;
$orange0_custom: #D8B4A0;
$orange1_custom: #D77A61;

///////////// Bootstrap Changes
$primary: $orange1_custom;
$secondary: $orange0_custom;
$success: $blue_custom;
$light: $gray_custom;
$warning: $white_custom;

@import "../libs/bootstrap/scss/bootstrap.scss";

